/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.boton{
    -fx-background-color: #DC2626;
    -fx-background-radius: 5;
}

.boton2{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
}

.background{
    -fx-background-color:linear-gradient(
        to bottom,
        #000000 0%,
        #7D1818 100%
        );
}

.search-box{
    -fx-background-color:#F5F5F5;
    -fx-background-radius:5;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.catalogo-box{
    -fx-background-radius: 5;
    -fx-background-color:#7D1818;
}

.item{
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 10;
}

.item-background{
    -fx-background-color:  #000000;
    -fx-background-radius: 5;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}